<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Display weather</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div th:replace="fragments/navbar"></div>
    <p th:text="'Forecasts for following adress : ' + ${givenAddress} + ' !'" />
    <p th:text="'debug city aimed by weather API for forecasts : ' + ${weatherInfo.getCityName()} + ' !'" />
    <br />
    <div>
        <div class="forecast-card" th:each="forecast : ${weatherInfo.forecastsPredicted}">
            <p th:text="'date : ' + ${forecast.getForecastDate()}"></p>
            <p th:text="'temp min : ' + ${forecast.tMin} + '°C'"></p>
            <p th:text="'temp max : ' + ${forecast.tMax} + '°C'"></p>
        </div>
    </div>
</body>
</html>